### WEB SCRAPING – ASSIGNMENT 2

#### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:

1. First get the webpage https://www.naukri.com/

2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.

3. Then click the searchbutton.

4. Then scrape the data for the first 10 jobs results you get.

5. Finally create a dataframe of the scraped data.

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\asus\downloads\new folder (2)\lib\site-packages (4.8.3)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\asus\downloads\new folder (2)\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: trio~=0.17 in c:\users\asus\downloads\new folder (2)\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\asus\downloads\new folder (2)\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\asus\downloads\new folder (2)\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: attrs>=19.2.0 in c:\users\asus\downloads\new folder (2)\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\asus\downloads\new folder (2)\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\asus\downloads\new folder (2)\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sniffio in c:\users\asus\downloads\new folder (2)\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\asus\downloads\new folder (2)\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\asus\downloads\new folder (2)\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: sortedcontainers in c:\users\asus\downloads\new folder (2)\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\asus\downloads\new folder (2)\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: pycparser in c:\users\asus\downloads\new folder (2)\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\asus\downloads\new folder (2)\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\asus\downloads\new folder (2)\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\asus\downloads\new folder (2)\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [6]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [24]:
## Connect to the driver

driver = webdriver.Chrome(r'C:\Users\ASUS\Downloads\chromedriver_win32\Chromedriver.exe')

In [25]:
# Opening the noukari page on automated chrome browser

driver.get(' https://www.naukri.com/')

In [26]:
## Entering the job name

designation = driver.find_element(By.CLASS_NAME,"suggestor-input ")

designation.send_keys('Data Analyst')

In [29]:
## Entering the location 

location = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/div[1]/div/input')

location.send_keys('Bangalore')

In [30]:
## Code for search button

search = driver.find_element(By.CLASS_NAME,"qsbSubmit")

search.click()

In [31]:
job_title = []
job_location = []
company_name = []
experience_required = []

In [32]:
# Scraping job title from the given page

title_tags = driver.find_elements(By.XPATH, '//a[@class="title ellipsis"]' )
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)
    
    
# Scraping job location from the given page

location_tags = driver.find_elements(By.XPATH, '//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location = i.text
    job_location.append(location)
    
#  Scraping company name from the given page

company_tags = driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]' )
for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)
    
# Scraping job experience from the given page

experience_tags = driver.find_elements(By.XPATH, '//span[@class="ellipsis fleft expwdth"]' )
for i in experience_tags[0:10]:
    experience = i.text
    experience_required.append(experience)

In [33]:
## Checking the lenght

print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

### Making Dataframe

In [35]:
df = pd.DataFrame({'Title':job_title, 'Location':job_location, 'Comoany_Name':company_name, 'Experience':experience_required})
df

,Title,Location,Comoany_Name,Experience
0,Data Analyst,Bangalore/Bengaluru,Ingersoll Rand,3-6 Yrs
1,Data Analyst,Bangalore/Bengaluru,ANZ,5-8 Yrs
2,Procurement Data Analyst,Bangalore/Bengaluru,Schneider Electric,2-3 Yrs
3,Data Analyst,Bangalore/Bengaluru,ANZ,5-9 Yrs
4,Data Analyst,Bangalore/Bengaluru,Clarivate,2-4 Yrs
5,Data Analyst || Bangalore || Male/ Female || 1...,Bangalore/Bengaluru,TeamLease,1-5 Yrs
6,Data Analyst - EdTech,Bangalore/Bengaluru,Talentstack,2-6 Yrs
7,Data Analyst,Bangalore/Bengaluru,Unusual Hire,1-4 Yrs
8,Data Engineer/Data Analyst,"Hybrid - Bangalore/Bengaluru, Kolkata, Hyderab...",Tech Mahindra,6-11 Yrs
9,Data Analyst - Contractual,Bangalore/Bengaluru,Search Advisers Services Guj,2-3 Yrs

### Q2:Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. Youhave to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data. This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
    
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.

3. Then click the searchbutton.

4. Then scrape the data for the first 10 jobs results youget.

5. Finally create a dataframe of the scraped data.

In [36]:
## Connect to the driver

driver = webdriver.Chrome(r'C:\Users\ASUS\Downloads\chromedriver_win32\Chromedriver.exe')

In [37]:
# Opening the noukari page on automated chrome browser

driver.get(' https://www.naukri.com/')

In [38]:
## Entering the job name

designation = driver.find_element(By.CLASS_NAME,"suggestor-input ")

designation.send_keys('Data Scientist')

In [40]:
## Entering the location 

location = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/div[1]/div/input')

location.send_keys('Bangalore')

In [41]:
## Code for search button

search = driver.find_element(By.CLASS_NAME,"qsbSubmit")

search.click()

In [42]:
job_title = []
job_location = []
company_name = []
experience_required = []

In [43]:
# Scraping job title from the given page

title_tags = driver.find_elements(By.XPATH, '//a[@class="title ellipsis"]' )
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)
    
    
# Scraping job location from the given page

location_tags = driver.find_elements(By.XPATH, '//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location = i.text
    job_location.append(location)
    
#  Scraping company name from the given page

company_tags = driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]' )
for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)
    
# Scraping job experience from the given page

experience_tags = driver.find_elements(By.XPATH, '//span[@class="ellipsis fleft expwdth"]' )
for i in experience_tags[0:10]:
    experience = i.text
    experience_required.append(experience)

In [44]:
## Checking the lenght

print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

### Making DataFrame

In [45]:
df = pd.DataFrame({'Title':job_title, 'Location':job_location, 'Comoany_Name':company_name, 'Experience':experience_required})
df

,Title,Location,Comoany_Name,Experience
0,Data Science Professional - IBM SPSS Statistic...,"Bangalore/Bengaluru, Noida, Mumbai, Pune, Chennai",Hexaware Technologies,5-8 Yrs
1,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,2-4 Yrs
2,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,6-8 Yrs
3,Senior data scientist,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",Fractal Analytics,4-8 Yrs
4,Data Scientist_NLP,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",Fractal Analytics,5-11 Yrs
5,Data Scientist,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",Fractal Analytics,3-7 Yrs
6,Machine Learning (AI) Architect,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Persistent,5-12 Yrs
7,Manager - Innovations Hub - Machine Learning,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",PwC,7-9 Yrs
8,Senior Engineer Consultant Data Science,Bangalore/Bengaluru,Verizon,4-9 Yrs
9,Senior Engineer Consultant-Data Science,Bangalore/Bengaluru,Verizon,4-9 Yrs

### Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

You have to use the location and salary filter.

You have to scrape data for “Data Scientist” designation for first 10 job results.

You have to scrape the job-title, job-location, company name, experience required.

The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [208]:
## Connect to the driver

driver = webdriver.Chrome(r'C:\Users\ASUS\Downloads\chromedriver_win32\Chromedriver.exe')

In [209]:
# Opening the noukari page on automated chrome browser

driver.get(' https://www.naukri.com/')

In [210]:
## Entering the job name

designation = driver.find_element(By.CLASS_NAME,"suggestor-input ")

designation.send_keys('Data Scientist')

In [211]:
## Code for search button

search = driver.find_element(By.CLASS_NAME,"qsbSubmit")

search.click()

In [217]:
## Entering the location after applying filter

location = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[2]/div[2]/div[2]/label/p/span[1]")

location.click()

In [218]:
## Entering the salary after applying filter

salary= driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[3]/div[2]/div[2]/label/p/span[1]")

salary.click()

In [219]:
job_title = []
job_location = []
company_name = []
experience_required = []

In [221]:
# Scraping job title from the given page

title_tags = driver.find_elements(By.XPATH, '//a[@class="title ellipsis"]' )
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)
    
    
# Scraping job location from the given page

location_tags = driver.find_elements(By.XPATH, '//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location = i.text
    job_location.append(location)
    
#  Scraping company name from the given page

company_tags = driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]' )
for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)
    
# Scraping job experience from the given page

experience_tags = driver.find_elements(By.XPATH, '//span[@class="ellipsis fleft expwdth"]' )
for i in experience_tags[0:10]:
    experience = i.text
    experience_required.append(experience)

In [222]:
## Checking the lenght

print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

### Making DataFrame

In [223]:
df = pd.DataFrame({'Title':job_title, 'Location':job_location, 'Comoany_Name':company_name, 'Experience':experience_required})
df

,Title,Location,Comoany_Name,Experience
0,Data Scientist,"Temp. WFH - Kochi/Cochin, Kolkata, Hyderabad/S...",Cognizant,6-10 Yrs
1,Junior Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,0-2 Yrs
2,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Blackbuck,3-7 Yrs
3,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Tabsquare,1-3 Yrs
4,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,2-4 Yrs
5,Junior Data Scientist,"Gurgaon/Gurugram, United States (USA), Bulgaria",Adidas,1-6 Yrs
6,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
7,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
8,Senior Data Scientist,"Hyderabad/Secunderabad, Chenani, Gurgaon/Gurug...",RecruitEForU,3-8 Yrs
9,Assistant Manager/Senior Manager - Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Huquo Consulting Pvt. Ltd,2-7 Yrs

### Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. ProductDescription
3. Price

In [190]:
## Connect to the driver

driver = webdriver.Chrome(r'C:\Users\ASUS\Downloads\chromedriver_win32\Chromedriver.exe')

In [191]:
# Opening the flipkart page on automated chrome browser

driver.get('https://www.flipkart.com/')

In [192]:
## Entering the name 'sunglasses'

glass = driver.find_element(By.CLASS_NAME,"_3704LK")

glass.send_keys('sunglasses')

In [193]:
## Code for search button

search = driver.find_element(By.CLASS_NAME,"_34RNph")

search.click()

In [194]:
brand_title = []
prod_descr = []
price = []

In [195]:
# Scraping Brand from the given page

brand_tags = driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]' )
for i in brand_tags[0:39]:
    brand_1 = i.text
    brand_title.append(brand_1)
    
    
# Scraping product discription from the given page

descr_tags = driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
for i in descr_tags[0:40]:
    descr_1 = i.text
    prod_descr.append(descr_1)
    
#  Scraping price from the given page

price_tags = driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]' )
for i in price_tags[0:39]:
    price_1 = i.text
    price.append(price_1)

In [196]:
print(len(brand_title),len(prod_descr),len(price))

39 39 39

In [197]:
## Code for next button

next_2 = driver.find_element(By.CLASS_NAME,"_1LKTO3")

next_2.click()

In [198]:
# Scraping Brand from the given page

brand_tags = driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]' )
for i in brand_tags[0:40]:
    brand_1 = i.text
    brand_title.append(brand_1)
    
    
# Scraping product discription from the given page

descr_tags = driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
for i in descr_tags[0:40]:
    descr_1 = i.text
    prod_descr.append(descr_1)
    
#  Scraping price from the given page

price_tags = driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]' )
for i in price_tags[0:40]:
    price_1 = i.text
    price.append(price_1)

In [199]:
print(len(brand_title),len(prod_descr),len(price))

79 79 79

In [204]:
## Code for next button

next_3 = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]")

next_3.click()

In [205]:
# Scraping Brand from the given page

brand_tags = driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]' )
for i in brand_tags[0:21]:
    brand_1 = i.text
    brand_title.append(brand_1)
    
    
# Scraping product discription from the given page

descr_tags = driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
for i in descr_tags[0:21]:
    descr_1 = i.text
    prod_descr.append(descr_1)
    
#  Scraping price from the given page

price_tags = driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]' )
for i in price_tags[0:21]:
    price_1 = i.text
    price.append(price_1)

In [206]:
print(len(brand_title),len(prod_descr),len(price))

100 100 100

### Making DataFrame

In [207]:
df = pd.DataFrame({'Brand_Name':brand_title, 'Product_Description':prod_descr, 'Price':price})
df

       Brand_Name                                Product_Description   Price
0          Resist          Polarized Wayfarer Sunglasses (Free Size)  ₹1,399
1    Silver Kartz      UV Protection Wayfarer Sunglasses (Free Size)    ₹267
2       Elligator  UV Protection Cat-eye, Retro Square, Oval, Rou...    ₹149
3            SRPM             UV Protection Wayfarer Sunglasses (50)    ₹149
4       Elligator             UV Protection Wayfarer Sunglasses (53)    ₹149
..            ...                                                ...     ...
95       Fastrack              UV Protection Aviator Sunglasses (58)    ₹922
96       Fastrack      Polarized Retro Square Sunglasses (Free Size)    ₹544
97         PIRASO              UV Protection Aviator Sunglasses (55)    ₹216
98        DEIXELS   UV Protection Rectangular Sunglasses (Free Size)    ₹230
99  VINCENT CHASE  by Lenskart Polarized, UV Protection Aviator S...    ₹929

[100 rows x 3 columns]

### Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART

In [492]:
## Connect to the driver

driver = webdriver.Chrome(r'C:\Users\ASUS\Downloads\chromedriver_win32\Chromedriver.exe')

In [493]:
# Opening the flipkart review page on automated chrome browser

driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR')

In [494]:
rating_title = []
review_summary = []
full_review = []

In [495]:
# Scraping ratings from the given page

rating_tags = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]' )
for i in rating_tags[0:9]:
    rating_1 = i.text
    rating_title.append(rating_1)
    
    
# Scraping rating summary from the given page

summary_tags = driver.find_elements(By.XPATH, '//p[@class="_2-N8zT"]')
for i in summary_tags[0:9]:
    summary_1 = i.text
    review_summary.append(summary_1)
    
#  Scraping full review from the given page

review_tags = driver.find_elements(By.XPATH, '//div[@class="t-ZTKy"]' )
for i in review_tags[0:9]:
    review_1 = i.text
    full_review.append(review_1)

In [496]:
print(len(rating_title),len(review_summary),len(full_review))

9 9 9

In [497]:
## Code for next button

next_2 = driver.find_element(By.CLASS_NAME,"_1LKTO3")

next_2.click()

In [498]:
# Scraping ratings from the given page

rating_tags = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]' )
for i in rating_tags[0:9]:
    rating_1 = i.text
    rating_title.append(rating_1)
    
    
# Scraping job location from the given page

summary_tags = driver.find_elements(By.XPATH, '//p[@class="_2-N8zT"]')
for i in summary_tags[0:9]:
    summary_1 = i.text
    review_summary.append(summary_1)
    
#  Scraping company name from the given page

review_tags = driver.find_elements(By.XPATH, '//div[@class="t-ZTKy"]' )
for i in review_tags[0:9]:
    review_1 = i.text
    full_review.append(review_1)

In [499]:
print(len(rating_title),len(review_summary),len(full_review))

18 18 18

In [500]:
## Code for next button

next_3 = driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]")

next_3.click()

In [501]:
# Scraping ratings from the given page

rating_tags = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]' )
for i in rating_tags[0:9]:
    rating_1 = i.text
    rating_title.append(rating_1)
    
    
# Scraping job location from the given page

summary_tags = driver.find_elements(By.XPATH, '//p[@class="_2-N8zT"]')
for i in summary_tags[0:9]:
    summary_1 = i.text
    review_summary.append(summary_1)
    
#  Scraping company name from the given page

review_tags = driver.find_elements(By.XPATH, '//div[@class="t-ZTKy"]' )
for i in review_tags[0:9]:
    review_1 = i.text
    full_review.append(review_1)

In [502]:
print(len(rating_title),len(review_summary),len(full_review))

27 27 27

In [503]:
## Code for next button

next_4 = driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]")

next_4.click()

In [504]:
# Scraping ratings from the given page

rating_tags = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]' )
for i in rating_tags[0:9]:
    rating_1 = i.text
    rating_title.append(rating_1)
    
    
# Scraping job location from the given page

summary_tags = driver.find_elements(By.XPATH, '//p[@class="_2-N8zT"]')
for i in summary_tags[0:9]:
    summary_1 = i.text
    review_summary.append(summary_1)
    
#  Scraping company name from the given page

review_tags = driver.find_elements(By.XPATH, '//div[@class="t-ZTKy"]' )
for i in review_tags[0:9]:
    review_1 = i.text
    full_review.append(review_1)

In [505]:
print(len(rating_title),len(review_summary),len(full_review))

36 36 36

In [506]:
## Code for next button

next_5 = driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]")

next_5.click()

In [507]:
# Scraping ratings from the given page

rating_tags = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]' )
for i in rating_tags[0:9]:
    rating_1 = i.text
    rating_title.append(rating_1)
    
    
# Scraping job location from the given page

summary_tags = driver.find_elements(By.XPATH, '//p[@class="_2-N8zT"]')
for i in summary_tags[0:9]:
    summary_1 = i.text
    review_summary.append(summary_1)
    
#  Scraping company name from the given page

review_tags = driver.find_elements(By.XPATH, '//div[@class="t-ZTKy"]' )
for i in review_tags[0:9]:
    review_1 = i.text
    full_review.append(review_1)

In [508]:
print(len(rating_title),len(review_summary),len(full_review))

45 45 45

In [509]:
## Code for next button

next_6 = driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]")

next_6.click()

In [510]:
# Scraping ratings from the given page

rating_tags = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]' )
for i in rating_tags[0:9]:
    rating_1 = i.text
    rating_title.append(rating_1)
    
    
# Scraping job location from the given page

summary_tags = driver.find_elements(By.XPATH, '//p[@class="_2-N8zT"]')
for i in summary_tags[0:9]:
    summary_1 = i.text
    review_summary.append(summary_1)
    
#  Scraping company name from the given page

review_tags = driver.find_elements(By.XPATH, '//div[@class="t-ZTKy"]' )
for i in review_tags[0:9]:
    review_1 = i.text
    full_review.append(review_1)

In [511]:
print(len(rating_title),len(review_summary),len(full_review))

54 54 54

In [512]:
## Code for next button

next_7 = driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]")

next_7.click()

In [513]:
# Scraping ratings from the given page

rating_tags = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]' )
for i in rating_tags[0:9]:
    rating_1 = i.text
    rating_title.append(rating_1)
    
    
# Scraping job location from the given page

summary_tags = driver.find_elements(By.XPATH, '//p[@class="_2-N8zT"]')
for i in summary_tags[0:9]:
    summary_1 = i.text
    review_summary.append(summary_1)
    
#  Scraping company name from the given page

review_tags = driver.find_elements(By.XPATH, '//div[@class="t-ZTKy"]' )
for i in review_tags[0:9]:
    review_1 = i.text
    full_review.append(review_1)

In [514]:
print(len(rating_title),len(review_summary),len(full_review))

63 63 63

In [515]:
## Code for next button

next_8 = driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]")

next_8.click()

In [516]:
# Scraping ratings from the given page

rating_tags = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]' )
for i in rating_tags[0:9]:
    rating_1 = i.text
    rating_title.append(rating_1)
    
    
# Scraping job location from the given page

summary_tags = driver.find_elements(By.XPATH, '//p[@class="_2-N8zT"]')
for i in summary_tags[0:9]:
    summary_1 = i.text
    review_summary.append(summary_1)
    
#  Scraping company name from the given page

review_tags = driver.find_elements(By.XPATH, '//div[@class="t-ZTKy"]' )
for i in review_tags[0:9]:
    review_1 = i.text
    full_review.append(review_1)

In [517]:
print(len(rating_title),len(review_summary),len(full_review))

72 72 72

In [518]:
## Code for next button

next_9 = driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]")

next_9.click()

In [519]:
# Scraping ratings from the given page

rating_tags = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]' )
for i in rating_tags[0:9]:
    rating_1 = i.text
    rating_title.append(rating_1)
    
    
# Scraping job location from the given page

summary_tags = driver.find_elements(By.XPATH, '//p[@class="_2-N8zT"]')
for i in summary_tags[0:9]:
    summary_1 = i.text
    review_summary.append(summary_1)
    
#  Scraping company name from the given page

review_tags = driver.find_elements(By.XPATH, '//div[@class="t-ZTKy"]' )
for i in review_tags[0:9]:
    review_1 = i.text
    full_review.append(review_1)

In [520]:
print(len(rating_title),len(review_summary),len(full_review))

81 81 81

In [521]:
## Code for next button

next_10 = driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]")

next_10.click()

In [522]:
# Scraping ratings from the given page

rating_tags = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]' )
for i in rating_tags[0:9]:
    rating_1 = i.text
    rating_title.append(rating_1)
    
    
# Scraping job location from the given page

summary_tags = driver.find_elements(By.XPATH, '//p[@class="_2-N8zT"]')
for i in summary_tags[0:9]:
    summary_1 = i.text
    review_summary.append(summary_1)
    
#  Scraping company name from the given page

review_tags = driver.find_elements(By.XPATH, '//div[@class="t-ZTKy"]' )
for i in review_tags[0:9]:
    review_1 = i.text
    full_review.append(review_1)

In [523]:
print(len(rating_title),len(review_summary),len(full_review))

90 90 90

In [524]:
## Code for next button

next_11 = driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]")

next_11.click()

In [525]:
# Scraping ratings from the given page

rating_tags = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]' )
for i in rating_tags[0:9]:
    rating_1 = i.text
    rating_title.append(rating_1)
    
    
# Scraping job location from the given page

summary_tags = driver.find_elements(By.XPATH, '//p[@class="_2-N8zT"]')
for i in summary_tags[0:9]:
    summary_1 = i.text
    review_summary.append(summary_1)
    
#  Scraping company name from the given page

review_tags = driver.find_elements(By.XPATH, '//div[@class="t-ZTKy"]' )
for i in review_tags[0:9]:
    review_1 = i.text
    full_review.append(review_1)

In [526]:
print(len(rating_title),len(review_summary),len(full_review))

94 94 94

In [527]:
## Code for next button

next_12 = driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[7]/div/div/nav/a[12]")

next_12.click()

In [528]:
# Scraping ratings from the given page

rating_tags = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]' )
for i in rating_tags[0:6]:
    rating_1 = i.text
    rating_title.append(rating_1)
    
    
# Scraping job location from the given page

summary_tags = driver.find_elements(By.XPATH, '//p[@class="_2-N8zT"]')
for i in summary_tags[0:6]:
    summary_1 = i.text
    review_summary.append(summary_1)
    
#  Scraping company name from the given page

review_tags = driver.find_elements(By.XPATH, '//div[@class="t-ZTKy"]' )
for i in review_tags[0:6]:
    review_1 = i.text
    full_review.append(review_1)

In [529]:
print(len(rating_title),len(review_summary),len(full_review))

98 98 98

In [531]:
## Code for next button

next_13 = driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[7]/div/div/nav/a[12]")

next_13.click()

In [534]:
## Code for next button

next_14 = driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[5]/div/div/nav/a[12]")

next_14.click()

In [535]:
# Scraping ratings from the given page

rating_tags = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]' )
for i in rating_tags[0:2]:
    rating_1 = i.text
    rating_title.append(rating_1)
    
    
# Scraping job location from the given page

summary_tags = driver.find_elements(By.XPATH, '//p[@class="_2-N8zT"]')
for i in summary_tags[0:2]:
    summary_1 = i.text
    review_summary.append(summary_1)
    
#  Scraping company name from the given page

review_tags = driver.find_elements(By.XPATH, '//div[@class="t-ZTKy"]' )
for i in review_tags[0:2]:
    review_1 = i.text
    full_review.append(review_1)

In [536]:
print(len(rating_title),len(review_summary),len(full_review))

100 100 100

### Making DataFrame

In [537]:
df = pd.DataFrame({'Ratings':rating_title, 'Review':review_summary, 'Full_Review':full_review})
df

,Ratings,Review,Full_Review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
4,5,Highly recommended,It's my first time to use iOS phone and I am l...
...,...,...,...
95,5,Just wow!,Value for money iphone😊
96,5,Excellent,GOOD PURCHASE
97,5,Excellent,"Got mobile @56,990 on 8 oct 2020 when all othe..."
98,5,Just wow!,Buying this 2022. But this doesn't feel old ❤️...
99,5,Worth every penny,Superb ever phone & value for money 👍once u us...

### Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price

In [552]:
## Connect to the driver

driver = webdriver.Chrome(r'C:\Users\ASUS\Downloads\chromedriver_win32\Chromedriver.exe')

In [553]:
# Opening the flipkart page on automated chrome browser

driver.get('https://www.flipkart.com/')

In [554]:
## Entering the name 'sneakers'

sneakre = driver.find_element(By.CLASS_NAME,"_3704LK")

sneakre.send_keys('sneakers')

In [557]:
## Code for search button

search = driver.find_element(By.CLASS_NAME,"_34RNph")

search.click()

In [561]:
brand_title = []
prod_descr = []
price = []

In [562]:
# Scraping Brand from the given page

brand_tags = driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]' )
for i in brand_tags[0:39]:
    brand_1 = i.text
    brand_title.append(brand_1)
    
    
# Scraping product discription from the given page

descr_tags = driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
for i in descr_tags[0:39]:
    descr_1 = i.text
    prod_descr.append(descr_1)
    
#  Scraping price from the given page

price_tags = driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]' )
for i in price_tags[0:39]:
    price_1 = i.text
    price.append(price_1)

In [563]:
print(len(brand_title),len(prod_descr),len(price))

39 39 39

In [564]:
## Code for next button

next_2 = driver.find_element(By.CLASS_NAME,"_1LKTO3")

next_2.click()

In [565]:
# Scraping Brand from the given page

brand_tags = driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]' )
for i in brand_tags[0:39]:
    brand_1 = i.text
    brand_title.append(brand_1)
    
    
# Scraping product discription from the given page

descr_tags = driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
for i in descr_tags[0:39]:
    descr_1 = i.text
    prod_descr.append(descr_1)
    
#  Scraping price from the given page

price_tags = driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]' )
for i in price_tags[0:39]:
    price_1 = i.text
    price.append(price_1)

In [566]:
print(len(brand_title),len(prod_descr),len(price))

78 78 78

In [568]:
## Code for next button

next_3 = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]")

next_3.click()

In [569]:
# Scraping Brand from the given page

brand_tags = driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]' )
for i in brand_tags[0:22]:
    brand_1 = i.text
    brand_title.append(brand_1)
    
    
# Scraping product discription from the given page

descr_tags = driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
for i in descr_tags[0:22]:
    descr_1 = i.text
    prod_descr.append(descr_1)
    
#  Scraping price from the given page

price_tags = driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]' )
for i in price_tags[0:22]:
    price_1 = i.text
    price.append(price_1)

In [570]:
print(len(brand_title),len(prod_descr),len(price))

100 100 100

### Making DataFrame

In [571]:
df = pd.DataFrame({'Brand_Name':brand_title, 'Product_Description':prod_descr, 'Price':price})
df

     Brand_Name                                Product_Description   Price
0        BRUTON      Combo Pack Of 2 Casual Shoes Sneakers For Men    ₹599
1        BRUTON      Combo Pack Of 2 Casual Shoes Sneakers For Men    ₹499
2           SFR  2006 Trenddy Fashion Sporty Casuals Sneakers R...    ₹299
3         AMICO                                   Sneakers For Men    ₹387
4          aadi  Synthetic| Lightweight| Premiun| Comfort| Summ...    ₹399
..          ...                                                ...     ...
95      FORSETI                                   Sneakers For Men    ₹629
96       Shozie  Stylish Comfortable Casual Sneakers Shoes for ...    ₹587
97    EZDEZARIO                                   Sneakers For Men    ₹494
98        ESMEE                               500 Sneakers For Men  ₹1,799
99  New Balance      Combo Pack Of 2 Casual Shoes Sneakers For Men  ₹4,113

[100 rows x 3 columns]

### Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” 

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [572]:
## Connect to the driver

driver = webdriver.Chrome(r'C:\Users\ASUS\Downloads\chromedriver_win32\Chromedriver.exe')

In [573]:
# Opening the Amazone page on automated chrome browser

driver.get(' https://www.amazon.in/')

In [579]:
## Entering the name “Laptop”

laptop = driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")

laptop.send_keys('Laptop')

In [581]:
## Code for search button

search = driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span")

search.click()

In [582]:
## Entering the  “Intel Core i7” after applying filter

intel_core_i7= driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[6]/li[12]/span/a/span")

intel_core_i7.click()

In [585]:
brand_title = []
ratings = []
price = []

In [586]:
# Scraping Brand from the given page

brand_tags = driver.find_elements(By.XPATH, '//span[@class="a-size-medium a-color-base a-text-normal"]' )
for i in brand_tags[0:10]:
    brand_1 = i.text
    brand_title.append(brand_1)
    
    
# Scraping product discription from the given page

rate_tags = driver.find_elements(By.XPATH, '//span[@class="a-size-base"]')
for i in rate_tags[0:10]:
    rate_1 = i.text
    ratings.append(rate_1)
    
#  Scraping price from the given page

price_tags = driver.find_elements(By.XPATH, '//span[@class="a-price-whole"]' )
for i in price_tags[0:10]:
    price_1 = i.text
    price.append(price_1)

In [587]:
print(len(brand_title),len(ratings),len(price))

10 10 10

### Making DataFrame

In [588]:
df = pd.DataFrame({'Brand_Name':brand_title, 'Ratings':ratings, 'Price':price})
df

                                          Brand_Name Ratings     Price
0  Samsung Galaxy Book2 (NP750) Intel 12th Gen co...     4.1    79,990
1  HP Victus Gaming Latest 12th Gen Intel Core i7...     4.3    79,990
2  ASUS TUF Gaming F15 (2022), 15.6"(39.62 cms) F...     4.4  1,00,990
3  (Renewed) HP ELITEBOOK 840 G5 (Core i7 8th GEN...     4.0    31,490
4  ASUS Vivobook S15 OLED 2022, 15.6" 39.62 cms F...     4.1    84,990
5  LG Gram16 Intel EVO-[12th Gen Core i7/Win11/16...     4.1    99,990
6  ASUS TUF Gaming F15 (2022), 15.6" (39.62 cms) ...     4.3    94,990
7  Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...     3.0    31,592
8  (Renewed) HP 840g3 Elitebook 14 Inch Screen La...     4.0    92,990
9  ASUS TUF Dash F15, Intel Core i7-12650H 12th G...     4.3    83,990

### Q8: Write a python program to scrape data for Top 1000 Quotes of All Time. The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on TopQuotes
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [597]:
## Connect to the driver

driver = webdriver.Chrome(r'C:\Users\ASUS\Downloads\chromedriver_win32\Chromedriver.exe')

In [598]:
# Opening the page on automated chrome browser

driver.get('https://www.azquotes.com/')

In [599]:
## Code for TopQuotes button

Top_Quotes = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a")

Top_Quotes.click()

In [601]:
quote_title = []
authors = []
type_of_quotes = []

In [602]:
# Scraping Quotes from the given page

quote_tags = driver.find_elements(By.XPATH, '//a[@class="title"]' )
for i in quote_tags[0:100]:
    quote_1 = i.text
    quote_title.append(quote_1)
    
    
# Scraping author from the given page

author_tags = driver.find_elements(By.XPATH, '//div[@class="author"]')
for i in author_tags[0:100]:
    author_1 = i.text
    authors.append(author_1)
    
#  Scraping type of quotes from the given page

type_tags = driver.find_elements(By.XPATH, '//div[@class="tags"]' )
for i in type_tags[0:100]:
    type_1 = i.text
    type_of_quotes.append(type_1)

In [603]:
print(len(quote_title),len(authors),len(type_of_quotes))

100 100 100

In [604]:
## Code for next button

next_2 = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a")

next_2.click()

In [605]:
# Scraping Quotes from the given page

quote_tags = driver.find_elements(By.XPATH, '//a[@class="title"]' )
for i in quote_tags[0:100]:
    quote_1 = i.text
    quote_title.append(quote_1)
    
    
# Scraping author from the given page

author_tags = driver.find_elements(By.XPATH, '//div[@class="author"]')
for i in author_tags[0:100]:
    author_1 = i.text
    authors.append(author_1)
    
#  Scraping type of quotes from the given page

type_tags = driver.find_elements(By.XPATH, '//div[@class="tags"]' )
for i in type_tags[0:100]:
    type_1 = i.text
    type_of_quotes.append(type_1)

In [606]:
print(len(quote_title),len(authors),len(type_of_quotes))

200 200 200

In [608]:
## Code for next button

next_3 = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[13]/a")

next_3.click()

In [609]:
# Scraping Quotes from the given page

quote_tags = driver.find_elements(By.XPATH, '//a[@class="title"]' )
for i in quote_tags[0:100]:
    quote_1 = i.text
    quote_title.append(quote_1)
    
    
# Scraping author from the given page

author_tags = driver.find_elements(By.XPATH, '//div[@class="author"]')
for i in author_tags[0:100]:
    author_1 = i.text
    authors.append(author_1)
    
#  Scraping type of quotes from the given page

type_tags = driver.find_elements(By.XPATH, '//div[@class="tags"]' )
for i in type_tags[0:100]:
    type_1 = i.text
    type_of_quotes.append(type_1)

In [610]:
print(len(quote_title),len(authors),len(type_of_quotes))

300 300 300

In [611]:
## Code for next button

next_4 = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[13]/a")

next_4.click()

In [612]:
# Scraping Quotes from the given page

quote_tags = driver.find_elements(By.XPATH, '//a[@class="title"]' )
for i in quote_tags[0:100]:
    quote_1 = i.text
    quote_title.append(quote_1)
    
    
# Scraping author from the given page

author_tags = driver.find_elements(By.XPATH, '//div[@class="author"]')
for i in author_tags[0:100]:
    author_1 = i.text
    authors.append(author_1)
    
#  Scraping type of quotes from the given page

type_tags = driver.find_elements(By.XPATH, '//div[@class="tags"]' )
for i in type_tags[0:100]:
    type_1 = i.text
    type_of_quotes.append(type_1)

In [613]:
print(len(quote_title),len(authors),len(type_of_quotes))

400 400 400

In [614]:
## Code for next button

next_5 = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[13]/a")

next_5.click()

In [615]:
# Scraping Quotes from the given page

quote_tags = driver.find_elements(By.XPATH, '//a[@class="title"]' )
for i in quote_tags[0:100]:
    quote_1 = i.text
    quote_title.append(quote_1)
    
    
# Scraping author from the given page

author_tags = driver.find_elements(By.XPATH, '//div[@class="author"]')
for i in author_tags[0:100]:
    author_1 = i.text
    authors.append(author_1)
    
#  Scraping type of quotes from the given page

type_tags = driver.find_elements(By.XPATH, '//div[@class="tags"]' )
for i in type_tags[0:100]:
    type_1 = i.text
    type_of_quotes.append(type_1)

In [616]:
print(len(quote_title),len(authors),len(type_of_quotes))

500 500 500

In [617]:
## Code for next button

next_6 = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[13]/a")

next_6.click()

In [618]:
# Scraping Quotes from the given page

quote_tags = driver.find_elements(By.XPATH, '//a[@class="title"]' )
for i in quote_tags[0:100]:
    quote_1 = i.text
    quote_title.append(quote_1)
    
    
# Scraping author from the given page

author_tags = driver.find_elements(By.XPATH, '//div[@class="author"]')
for i in author_tags[0:100]:
    author_1 = i.text
    authors.append(author_1)
    
#  Scraping type of quotes from the given page

type_tags = driver.find_elements(By.XPATH, '//div[@class="tags"]' )
for i in type_tags[0:100]:
    type_1 = i.text
    type_of_quotes.append(type_1)

In [619]:
print(len(quote_title),len(authors),len(type_of_quotes))

600 600 600

In [620]:
## Code for next button

next_7 = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[13]/a")

next_7.click()

In [621]:
# Scraping Quotes from the given page

quote_tags = driver.find_elements(By.XPATH, '//a[@class="title"]' )
for i in quote_tags[0:100]:
    quote_1 = i.text
    quote_title.append(quote_1)
    
    
# Scraping author from the given page

author_tags = driver.find_elements(By.XPATH, '//div[@class="author"]')
for i in author_tags[0:100]:
    author_1 = i.text
    authors.append(author_1)
    
#  Scraping type of quotes from the given page

type_tags = driver.find_elements(By.XPATH, '//div[@class="tags"]' )
for i in type_tags[0:100]:
    type_1 = i.text
    type_of_quotes.append(type_1)

In [622]:
print(len(quote_title),len(authors),len(type_of_quotes))

700 700 700

In [623]:
## Code for next button

next_8 = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[13]/a")

next_8.click()

In [624]:
# Scraping Quotes from the given page

quote_tags = driver.find_elements(By.XPATH, '//a[@class="title"]' )
for i in quote_tags[0:100]:
    quote_1 = i.text
    quote_title.append(quote_1)
    
    
# Scraping author from the given page

author_tags = driver.find_elements(By.XPATH, '//div[@class="author"]')
for i in author_tags[0:100]:
    author_1 = i.text
    authors.append(author_1)
    
#  Scraping type of quotes from the given page

type_tags = driver.find_elements(By.XPATH, '//div[@class="tags"]' )
for i in type_tags[0:100]:
    type_1 = i.text
    type_of_quotes.append(type_1)

In [625]:
print(len(quote_title),len(authors),len(type_of_quotes))

800 800 800

In [626]:
## Code for next button

next_9 = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[13]/a")

next_9.click()

In [627]:
# Scraping Quotes from the given page

quote_tags = driver.find_elements(By.XPATH, '//a[@class="title"]' )
for i in quote_tags[0:100]:
    quote_1 = i.text
    quote_title.append(quote_1)
    
    
# Scraping author from the given page

author_tags = driver.find_elements(By.XPATH, '//div[@class="author"]')
for i in author_tags[0:100]:
    author_1 = i.text
    authors.append(author_1)
    
#  Scraping type of quotes from the given page

type_tags = driver.find_elements(By.XPATH, '//div[@class="tags"]' )
for i in type_tags[0:100]:
    type_1 = i.text
    type_of_quotes.append(type_1)

In [628]:
print(len(quote_title),len(authors),len(type_of_quotes))

900 900 900

In [629]:
## Code for next button

next_10 = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[13]/a")

next_10.click()

In [630]:
# Scraping Quotes from the given page

quote_tags = driver.find_elements(By.XPATH, '//a[@class="title"]' )
for i in quote_tags[0:100]:
    quote_1 = i.text
    quote_title.append(quote_1)
    
    
# Scraping author from the given page

author_tags = driver.find_elements(By.XPATH, '//div[@class="author"]')
for i in author_tags[0:100]:
    author_1 = i.text
    authors.append(author_1)
    
#  Scraping type of quotes from the given page

type_tags = driver.find_elements(By.XPATH, '//div[@class="tags"]' )
for i in type_tags[0:100]:
    type_1 = i.text
    type_of_quotes.append(type_1)

In [631]:
print(len(quote_title),len(authors),len(type_of_quotes))

1000 1000 1000

### Making DataFrame

In [632]:
df = pd.DataFrame({'Quotes':quote_title, 'Authors':authors, 'Quote_Type':type_of_quotes})
df

,Quotes,Authors,Quote_Type
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

### Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpagehttps://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make theDataFrame.

In [14]:
## Connect to the driver

driver = webdriver.Chrome(r'C:\Users\ASUS\Downloads\chromedriver_win32\Chromedriver.exe')

In [15]:
# Opening the page on automated chrome browser

driver.get(' https://www.jagranjosh.com/')

In [16]:
## Code for GK button

gk = driver.find_element(By.XPATH,"/html/body/div/div[1]/div/div[1]/div/div[5]/div/div[1]/header/div[3]/ul/li[9]/a")

gk.click()

In [17]:
## Code for PM's  button

pm = driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a")

pm.click()

In [18]:
pm_title = []
dates = []
term_of_office = []
remarks = []

In [19]:
# Scraping All PM's names from the given page

pm_tags = driver.find_elements(By.XPATH, '//div[@class="table-box"]/table/tbody/tr/td[2]/p' )
for i in pm_tags[0:18]:
    pm_1 = i.text
    pm_title.append(pm_1)
    
    
# Scraping dates from the given page

date_tags = driver.find_elements(By.XPATH, '//div[@class="table-box"]/table/tbody/tr/td[3]/p')
for i in date_tags[0:18]:
    date_1 = i.text
    dates.append(date_1)
    
# Scraping the term of office from the given page

tof_tags = driver.find_elements(By.XPATH, '//div[@class="table-box"]/table/tbody/tr/td[4]/p')
for i in tof_tags[0:18]:
    tof_1 = i.text
    term_of_office.append(tof_1)
    
    
    
# Scraping the remarks from the given page

remark_tags = driver.find_elements(By.XPATH, '//div[@class="table-box"]/table/tbody/tr/td[5]/p')
for i in remark_tags[0:18]:
    remark_1 = i.text
    remarks.append(remark_1)

In [20]:
print(len(pm_title),len(dates),len(term_of_office),len(remarks))

18 18 18 18

### Making DataFrame

In [22]:
df = pd.DataFrame({'Name_Of_Prime_Ministers':pm_title, 'Born_Dead_date':dates, 'Term_Of_Office':term_of_office, 'Remarks':remarks})
df

,Name_Of_Prime_Ministers,Born_Dead_date,Term_Of_Office,Remarks
0,Jawahar Lal Nehru,(1889–1964),15 August 1947 to 27 May 1964,The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"16 years, 286 days",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),"27 May 1964 to 9 June 1964,",He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),13 days,-
4,Indira Gandhi,(1917–1984),9 June 1964 to 11 January 1966,First female Prime Minister of India
5,Morarji Desai,(1896–1995),"1 year, 216 days",Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),11 January 1966 to 24 January 1966,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),13 days,The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),24 January 1966 to 24 March 1977,Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),"11 years, 59 days",First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),24 March 1977 to 28 July 1979,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),"2 year, 126 days",First PM from south India
12,Atal Bihari Vajpayee,(1924- 2018),28 July 1979 to 14 January 1980,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),170 days,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),14 January 1980 to 31 October 1984,------
15,Atal Bihari Vajpayee,(1924-2018),"4 years, 291 days",The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),31 October 1984 to 2 December 1989,First Sikh PM
17,Narendra Modi,(born 1950),"5 years, 32 days",4th Prime Minister of India who served two con...

### Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e.Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpagehttps://www.motor1.com/
2. Then You have to click on the List option from Dropdown menu on leftside.
3. Then click on 50 most expensive carsin the world..
4. Then scrap the mentioned data and make the dataframe.

In [670]:
## Connect to the driver

driver = webdriver.Chrome(r'C:\Users\ASUS\Downloads\chromedriver_win32\Chromedriver.exe')

In [671]:
# Opening the page on automated chrome browser

driver.get('https://www.motor1.com/')

In [673]:
## Code for list button

list1= driver.find_element(By.XPATH,"/html/body/div[3]/div[2]/div/div/div[1]/div")

list1.click()

In [674]:
## Code for features button

features = driver.find_element(By.XPATH,"/html/body/div[4]/div[1]/div[3]/ul/li[5]/button")

features.click()

In [675]:
## Code for lists button

lists = driver.find_element(By.XPATH,"/html/body/div[4]/div[1]/div[3]/ul/li[6]/ul/li[1]/a")

lists.click()

In [676]:
## Code for 50 most expensive cars button

cars = driver.find_element(By.XPATH,"/html/body/div[3]/div[8]/div[1]/div[1]/div/div/div[8]/div/div[1]/h3/a")

cars.click()

In [677]:
car_title = []
price = []

In [678]:
# Scraping All PM's names from the given page

car_tags = driver.find_elements(By.XPATH, '//h3[@class="subheader"]' )
for i in car_tags[0:50]:
    car_1 = i.text
    car_title.append(car_1)
    
    
# Scraping dates from the given page

price_tags = driver.find_elements(By.XPATH, "//strong")
for i in price_tags[0:50]:
    price_1 = i.text
    price.append(price_1)

In [679]:
print(len(car_title), len(price))

50 50

### Making DataFrame

In [680]:
df = pd.DataFrame({'Car_Name':car_title, 'Car_Price':price})
df

                           Car_Name             Car_Price
0                     De Tomaso P72   Price: $1.3 Million
1                 Ferrari LaFerrari   Price: $1.4 Million
2                     Pagani Huayra   Price: $1.4 Million
3                      McLaren Elva
4                       Czinger 21C   Price: $1.7 Million
5                     Ferrari Monza   Price: $1.7 Million
6                Gordon Murray T.33   Price: $1.7 Million
7                 Koenigsegg Gemera   Price: $1.7 Million
8                       Zenvo TSR-S   Price: $1.7 Million
9                Hennessey Venom F5   Price: $1.7 Million
10                  Bentley Bacalar   Price: $1.8 Million
11    Hispano Suiza Carmen Boulogne   Price: $1.9 Million
12           Bentley Mulliner Batur   Price: $1.9 Million
13                     Deus Vayanne   Price: $2.0 Million
14                      SSC Tuatara   Price: $2.0 Million
15                      Lotus Evija  Price: $2.0 Million*
16              Aston Martin Vulcan   Price: $2.1 Million
17                       Delage D12   Price: $2.3 Million
18                McLaren Speedtail   Price: $2.3 Million
19                     Rimac Nevera   Price: $2.3 Million
20                    Pagani Utopia   Price: $2.4 Million
21             Pininfarina Battista   Price: $2.5 Million
22                Ferrari FXX K Evo   Price: $2.5 Million
23               Gordon Murray T.50   Price: $2.6 Million
24             Lamborghini Countach   Price: $2.6 Million
25         Mercedes-AMG Project One   Price: $2.6 Million
26              Aston Martin Victor   Price: $2.7 Million
27      Hennessey Venom F5 Roadster   Price: $3.0 Million
28                 Koenigsegg Jesko          $3.0 Million
29            Aston Martin Valkyrie   Price: $3.0 Million
30        W Motors Lykan Hypersport   Price: $3.2 Million
31                    McLaren Solus   Price: $3.4 Million
32        Pagani Huayra Roadster BC          $3.5 Million
33         Bugatti Chiron Pur Sport   Price: $3.5 Million
34                 Lamborghini Sian   Price: $3.6 Million
35                 Koenigsegg CC850   Price: $3.6 million
36  Bugatti Chiron Super Sport 300+   Price: $3.7 Million
37               Lamborghini Veneno   Price: $3.9 Million
38                   Bugatti Bolide   Price: $4.5 Million
39                  Bugatti Mistral   Price: $4.7 Million
40              Pagani Huayra Imola   Price: $5.0 Million
41                     Bugatti Divo   Price: $5.4 Million
42              SP Automotive Chaos   Price: $5.8 Million
43                 Pagani Codalunga   Price: $6.4 Million
44         Mercedes-Maybach Exelero   Price: $7.4 Million
45               Bugatti Centodieci   Price: $8.0 Million
46          Bugatti Chiron Profilée   Price: $9.0 Million
47             Rolls-Royce Sweptail  Price: $10.8 Million
48         Bugatti La Voiture Noire  Price: $12.8 Million
49           Rolls-Royce Boat Tail*  Price: $13.4 Million